# 秘密情報
.env
otel.htpasswd
infra/terraform.tfvars
infra/backend.tfbackend

# Terraform
infra/.terraform/
infra/.terraform.lock.hcl
infra/tfplan
infra/*.tfstate
infra/*.tfstate.backup
infra/.build/

# M5AtomS3 環境光センサー
m5atoms3_ambient_light/src/config.h

# macOS
.DS_Store
